<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Back on My Bullshit</string>
	<key>artistName</key>
	<string>Magnolia Park</string>
	<key>coverURL</key>
	<string>https://i.scdn.co/image/ab67616d0000b273ad9ad5960b45acbf13c30136</string>
	<key>currentPosition</key>
	<string>112</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>/Users/liljack/Library/Application Support/Übersicht/widgets/Playbox.widget 2/lib/cover9.jpg</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>163</string>
	<key>songName</key>
	<string>Back on My Bullshit</string>
</dict>
</plist>
