<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>FRIDAY</string>
	<key>artistName</key>
	<string>916frosty</string>
	<key>coverURL</key>
	<string>/Playbox.widget 2/lib/cover9.jpg</string>
	<key>currentPosition</key>
	<string>6</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>/Users/liljack/Library/Application Support/Übersicht/widgets/Playbox.widget 2/lib/cover9.jpg</string>
	<key>songChanged</key>
	<string>true</string>
	<key>songDuration</key>
	<string>292</string>
	<key>songName</key>
	<string>FRIDAY</string>
</dict>
</plist>
